/* Diary.css */

.start {
  /* opacity : 0; */
  transform: scale(0);
  /* transform: rotate(180deg); */
  transition: transform 0.5s;
} 

.end {
  /* opacity : 1; */
  transform: scale(1);
  /* transform: rotate(0); */
  transition : transform 0.5s
}

.tab-container {
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
    margin-top: 10px;
}

.tab {
    padding: 10px 20px;
    margin-right: 10px;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: #669966;
    text-align: center;
    width: 190px;
}

.active-tab {
    padding: 10px 20px;
    margin-right: 10px;
    cursor: pointer;
    border: 1px solid #669966;
    border-radius: 5px;
    color: #ffffff;
    background-color: #669966;
    text-align: center;
    width: 190px;
}

.title-container {
    text-align: center;
    font-size: 25px;
    margin-bottom: 15px;
    color: #669966;
    font-weight: 500;
}

.app-container {
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 85vh; */
}
  
.input-container {
    width: 400px;
    height: 78vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    margin: 0 20px;
    padding: 20px;
    border: 1px solid #669966;
    border-radius: 8px;
}

.div-title {
    margin-bottom: 15px;
    color: #669966;
    font-size: 33px;
    text-align: center;
    font-weight: 400;
}

.div-subtitle {
    /* margin-bottom: 65px; */
    color: #669966;
    font-size: 18px;
    text-align: center;
}

.input-box {
    margin-bottom: 20px;
}

.span-field {
    color: #669966;
    padding: 10px;
    padding-left: 0;
    
}

.input-field {
    width: 80%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.arrow-image {
    width: 100px;
    cursor: pointer;
    margin-bottom: 90px;
}

.diary-container {
    border: 1px solid #669966;
    padding: 20px;
    overflow-y: auto;
    width: 400px;
    height: 78vh;
    margin: 0 20px;
    border-radius: 8px;
    font-size: 15.5px;
    font-family: inherit;
}

@media screen and (max-width: 768px) {
    .app-container {
        flex-direction: column;
    }
    .input-container, .arrow-container, .diary-container {
        width: 100%;
        margin: 10px;
    }
}